body {
    margin: 0;
/*    font-family: Candara,Calibri,Segoe,Segoe UI,Optima,Arial,sans-serif; */
    font-family: Trebuchet MS,Tahoma,Verdana,Arial,sans-serif;
}

a {  text-decoration: underline ; }
a:link { color:  #59869b; ; }
a:visited { color:  #59869b; ; }
a:hover { color: black;}
a:active { color:  #59869b; ; }

.alert {
    background-color: green;
    margin: 1em;
    padding: 1em;
    color: white;
    text-align: center;
}

.wrapper {
    width: 100%;
    min-width: 1020px;
}

.right {
    text-align: right;
}

#header {
    background-color: #59869b; 
    padding: 1em;
        
}

.small {
    font-size: 0.8em;
}

div.small {
    padding-left: 1em;
    padding-right: 1em;
}

#logo {
    text-decoration: none;
    font-size: 1.6em;
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    font-weight: bold;
    color: white;
}

#search_block {
    padding-top: 0.2em;
    float: right;
    
}

#stat {
/*
    float: right;
    clear: both;
*/
    padding: 0.2em;
    padding-right: 1em;
    text-align: right;
}

#tabs {
    clear: both;
}

#footer {
    clear: both;
    margin-top: 1em;
    padding: .5em;
    border-top-style: solid;
    border-top-width: 2px;
    border-top-color: #59869b;
    
}

.ui-widget {
    font-family: Trebuchet MS,Tahoma,Verdana,Arial,sans-serif;
    font-size: 1em !important;
}

.ui-widget-content {
    background:  none !important;
    border: none !important;
}

.ui-tabs .ui-tabs-panel {
    background:  white !important;
}

.ui-widget-header {
    background: none !important;
    border: none;
    border-bottom: 2px solid #59869b;
    border-radius: 0;
}

.ui-state-active :focus {
    outline-width: 0;
     outline: none;
}

.ui-state-active {
    border-color: #59869b !important;
    border-width: 2px 2px 0 2px !important;
    margin-bottom: -2px  !important;
    padding-bottom: 2px  !important;
}

.ui-state-default {
    border-color: #59869b !important;
    border-width: 2px 2px 0 2px !important;
    color: black !important;
}

.ui-state-hover {
    background-color: white !important;
    background-image: none !important;
}

.ui-state-default a {
    color: #777 !important;
}

.ui-state-active a {
    color: #59869b !important;
}

.ui-state-hover a {
    color: #59869b !important;
}

div#search_domain {
    text-align: center;
    padding: 1em;
}

#actions {
    float: right;
    border-radius: 5px;
    border-style: solid;
    border-width: 2px;
    border-color: #59869b;    
    padding: 0;
    width: 26em;
    height: 13.5em;
    overflow: hidden;
    text-align: center;
}

#act_claim_my_address {
    font-size: 0.8em;
}

#act_buy_my_address {
    font-size: 0.8em;
}

input#transfer {
    font-size: 0.8em;
}

#action_home button{
    width: 12em;
}

#domain_status {
    color: #59869b;
    padding: 0.1em;
    font-size: 1.2em;
}

#tabs-domain button{
    margin: 0.2em;
}

h1 {
    color: #59869b;
    font-size: 1.2em;
}

h1#ids {
    clear: both;
}

table#ids {
    width: 100%;
    border-radius: 5px;
    border-style: solid;
    border-width: 2px;
    border-color: #59869b;    
}

table#ids thead {
    color: #59869b;    
    font-style: italic;
}
    
.action_pan
{
    display: none
}

.action_pan#action_home
{
    display: block
}

#action_claim #buttons
{
    padding-top: 0.5em;
}

#ids button
{
    padding: 0.3em;
    margin: 0.1em;
    font-size: 0.8em;
}

table#all_domains{
    width: 100%;
}

#all_controls {
    border-radius: 5px;
    border-style: solid;
    border-width: 2px;
    border-color: #59869b;     
    padding: 1em;
    text-align: center;
    margin-bottom: 2em;
}

#tabs-batch textarea {
    font-size: 0.7em;
}

#tabs-batch td {
    padding: 1em;
    vertical-align: top;
}

#tabs-batch h1 {
    text-align: left;
}




.batch_control_group {
    border-radius: 5px;
    border-style: solid;
    border-width: 2px;
    border-color: #59869b;     
    padding: 1em;
    text-align: center;
    margin-bottom: 2em;    
    margin: 1em;
}

#batch_claim_controls
{
}

#batch_claim_controls button
{
    margin: 1.5em;
}

#batch_claim_progress
{
/*
    clear: both;
    border-radius: 5px;
    border-style: solid;
    border-width: 2px;
    border-color: #59869b;     
    padding: 1em;
    */
    text-align: center;

    margin: 1em;
}

.progress {
    height: 200px;
}

#update_list_progress {
    height: 100px;
    padding: 5px;
}

.progress > svg {
    height: 100%;
    display: block;
}